<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
    }

    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form h1 {
        margin: 0 0 15px;
    }

    .form-control,
    .btn {
        min-height: 38px;
        border-radius: 5px;
        ;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }

    #signup {
        margin-top: 5px;
        float: right;
    }
</style>
<div class="login-form">
    <form action="/api/users/login" method="POST">
        <h1 class="text-center"> Login </h1>
        {{#if error}} <span style="color:red">{{error}}</span> {{/if}}
        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <a href="/api/users/register" id="signup">Create an account</a>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>